/* CSS reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}


/* Custom styling*/
.about-main-content-container {
    display: flex;      
  }
  
.about-main-content {
    display: flex;
    border: 1px solid #999907;
    
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 800px;
  
  
    height: 280px; /* needs to be 500+ for a happy medium effect*/
    background-color:  #eee8e8;
    border-radius: 8px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0,0,0, 0.18); 
    overflow: auto;
    
  }
.about-content {
      flex: 1 95%;
      border: 0px solid #999907;
      margin: 15px;
      overflow: auto;
      width: 800px;
      
      
  }
  
@media screen and (max-width: 415px) {        
    .about-main-content {
        height: 600px; /* need to test the browser and handle the differences between FF and chrome */
    }
  }
  

@media screen and (min-width: 800px) {    
    /* above 800, make the containter flex and center*/
    .about-main-flex-container {
      display: flex;    
      justify-content: center;
      align-items: center;
    }
  }    